<project-header class="top-header"></project-header>
<project-page>
  <!-- Middle section -->
  <div class="middle-section">
    <div class="middle-container">
      <div class="middle-header header-light">
        <div class="container-fluid">
          <tasks></tasks>
          <alerts alerts="alerts"></alerts>
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <div class="page-header page-header-bleed-right page-header-bleed-left">
            <div class="pull-right">
              <span uib-dropdown>
                <button id="{{cluster}}-actions" type="button" class="dropdown-toggle btn btn-default actions-dropdown-btn hidden-xs"                       data-toggle="dropdown">
                          Actions
                  <span class="caret" aria-hidden="true"></span>
                </button>
                <ul class="uib-dropdown-menu dropdown-menu-right">
                  <li>
                    <a href="" id="{{cluster}}-scalebutton"
                       role="button"
                       ng-click="scaleCluster(cluster_details.name, countWorkers(cluster_details))">Scale Cluster</a>
                  </li>
                  <li>
                    <a href="" id="{{cluster}}-deletebutton"
                       role="button"
                       ng-click="deleteCluster(cluster_details.name)">Delete Cluster</a>
                  </li>
                </ul>
              </span>
            </div>
            <h1>{{ cluster_details.name }}</h1>
          </div>
        </div>
      </div>
        <div class="middle-content" persist-tab-state>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <uib-tabset>
                  <uib-tab heading="Details" active="selectedTab.details">
                    <uib-tab-heading>Details</uib-tab-heading>
                    <ng-include src="'views/oshinko/_cluster-details.html'"></ng-include>
                  </uib-tab>
                  <uib-tab heading="Apps" active="selectedTab.apps">
                    <uib-tab-heading>Apps</uib-tab-heading>
                    <div>Placeholder for cluster -> app information</div>
                  </uib-tab>
                </uib-tabset>
              </div><!-- /col-* -->
            </div>
          </div>
        </div><!-- /middle-content -->
    </div>
  </div>
</project-page>
