<div class="modal-header">
  <h4 class="modal-title" translatable="yes">Deploy cluster</h4>
</div>
<div class="modal-body" ng-keyup="submitForm($event, 'newCluster')">
  <form>
    <fieldset ng-disabled="disableInputs">
      <div class="form-group">
          <label for="cluster-new-name">Name</label>
          <input id="cluster-new-name" class="form-control input-lg" type="text" ng-model="fields.name" autofocus="true"/>
      </div>
      <div ng-show="!advanced">
        <div class="form-group">
          <label for="cluster-new-workers">Number of workers</label>
          <input id="cluster-new-workers" class="form-control input-lg" type="number" ng-model="fields.workers"/>
        </div>
        <div class="form-group"><a href="#" ng-click="toggleAdvanced()">Advanced cluster configuration</a></div>
      </div>
      <div ng-show="advanced">
        <div class="form-group">
          <label for="cluster-new-workers">Number of workers</label>
          <input id="cluster-adv-workers" class="form-control input-lg" type="number" ng-model="fields.workers"/>
        </div>
        <div class="form-group">
          <label for="cluster-new-name">Configuration name</label>
          <input id="cluster-config-name" class="form-control input-lg" type="text" ng-model="fields.configname"/>
        </div>
        <div class="form-group">
          <label for="cluster-new-name">Master configuration name</label>
          <input id="cluster-masterconfig-name" class="form-control input-lg" type="text" ng-model="fields.masterconfigname"/>
        </div>
        <div class="form-group">
          <label for="cluster-new-name">Worker configuration name</label>
          <input id="cluster-workerconfig-name" class="form-control input-lg" type="text" ng-model="fields.workerconfigname"/>
        </div>
        <div class="form-group">
          <label for="cluster-sparkimage">Apache Spark image (only radanalyticsio/openshift-spark is supported)</label>
          <input id="cluster-sparkimage" class="form-control input-lg" type="text" ng-model="fields.sparkimage"/>
        </div>
        <div class="form-group">
          <label for="cluster-expose-ui">Expose Apache Spark web ui via a route</label>
          <input id="cluster-expose-ui" class="form-control input-lg" type="checkbox" ng-model="fields.exposewebui"/>
        </div>
        <div class="form-group">
          <label for="cluster-metrics">Enable metrics on your cluster</label>
          <input id="cluster-metrics" class="form-control input-lg" type="checkbox" ng-model="fields.enablemetrics"/>
        </div>
        <div class="form-group"><a href="#" ng-click="toggleAdvanced()">Basic cluster configuration</a></div>
      </div>
    </fieldset>
  </form>
  <div ng-show="formError">
    <span class="form-error">{{ formError }}</span>
  </div>
</div>
<div class="modal-footer">
  <button id="cancelbutton" class="btn btn-default btn-cancel1" translatable="yes" ng-click="cancelfn()">Cancel</button>
  <button id="createbutton" class="btn btn-primary" translatable="yes" ng-click="newCluster()">Deploy</button>
</div>
